.sidebar {
  width: 650px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userIcon {
  background-color: rgba(245,73,148,255);
  border-radius: 50%;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-left: 45px;
}

.sidebarTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-left: 25%;
}

.sidebarList {
  list-style-type: none;
  padding: 0;
}

.sidebarItem {
  margin-bottom: 10px;
  text-align: right;
}

.sidebarLink {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebarLink:hover {
  background-color: #e0e0e0;
}

.sidebarLink.active {
  background-color: #d0d0d0;
  font-weight: bold;
}

.logoutButton {
  padding: 0.8rem 1.2rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
  margin-left: 8%;
  position: absolute; 
  bottom: 20px;
}

.logoutButton:hover {
  background-color: #ff3333;
}

.newChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(33,79,149,255);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.newChatButton:hover {
  background-color: rgba(33,79,149,255);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
